<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>

<body>
    <style>
        #message {
            display: flex;
            align-content: center;
            align-items: center;
            justify-items: center;
        }
        
        #message p {
            padding: 20px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }
        
        #message a {
            float: right;
        }
    </style>
    <div class="container">
        <div class="row" id="alert_box">
            <div class="col s12 m12">
                <div id="card" class="card green darken-1">
                    <div class="row">
                        <div class="col s12 m10">
                            <div id="message" class="card-content white-text">
                                <p>Problema reportado com sucesso.</p>
                                <a id="alert_close" href="/" class="waves-effect wave-ligth btn blue">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#alert_close').click(function() {
            $("#alert_box").fadeOut(3500)
        });
    </script>
</body>

</html>